<a href="https://colab.research.google.com/github/rizkyageng/KELAS-PSDS-PD4/blob/main/PANDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#list
list_buah = {'jeruk', 'pepaya','mangga', 'rambutan', 'leci', 'nanas', 'manggis'}

#list berat buah (integer)
list_berat = [50, 800, 150, 10, 2, 300, 70]

#membuat dataframe menggunakan dua buah list dengan fungsi zip
df= pd.DataFrame(list(zip(list_buah, list_berat)),
                 collumns =['Nama Buah', 'Berat Buah'])
df

TypeError: ignored

In [ ]:
#list multidimensi (nama,usia)
list = [['bejo', 25], ['ari', 48,]
        ,['asep', 26], ['Richard', 25]]
  
df = pd.DataFrame(list)
df

         0   1
0     bejo  25
1      ari  48
2     asep  26
3  Richard  25

In [ ]:
mobil = {'type mobil' : ['honda civic', 'Toyota Corella', 'Fort focus', 'Andi As'],
         'harga(USD)' : [22000, 25000, 27000, 28000]
        }

df = pd.DataFrame(mobil)

df

       type mobil  harga(USD)
0     honda civic       22000
1  Toyota Corella       25000
2      Fort focus       27000
3         Andi As       28000

In [ ]:
df_super_store = pd.read_csv('Super-Store-Dataset.csv')
df_super_store.head()

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164

In [ ]:
df_pilkada=pd.read_excel('/content/datasetpilkadadki.xlsx')
df_pilkada.head()

,Id,Sentiment,Pasangan Calon,Text Tweet
0,1,negative,Agus-Sylvi,Banyak akun kloning seolah2 pendukung #agussil...
1,2,negative,Agus-Sylvi,#agussilvy bicara apa kasihan yaa...lap itu ai...
2,3,negative,Agus-Sylvi,Kalau aku sih gak nunggu hasil akhir QC tp lag...
3,4,negative,Agus-Sylvi,Kasian oh kasian dengan peluru 1milyar untuk t...
4,5,negative,Agus-Sylvi,Maaf ya pendukung #AgusSilvy..hayo dukung #Ani...